.body1{
    margin: 0;
    padding:0;
    }
.div1{
    background-image: url(wallpaper-2.png);
    background-size: cover;
    height: 100vh;
}
.header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-right: 100px;
    padding-top: 10px;
    padding-bottom: 10px; 
    padding-left: 100px;
    position: fixed;
    width: 100%;
    background-color: rgba(139, 154, 168, 0.288);
    backdrop-filter: blur(20px);
    box-sizing: border-box;
}
.nav-buttons {
    display: flex;
    gap: 15px;
}
.logo{
    color: orange;
    font-size: 24px;
    font-weight: bold;
}
.login{
    padding: 8px 18px;
    border: 1px solid white;
    background: transparent;
    color: white;
    border-radius: 20px;
    cursor: pointer;
}
.register{
    padding: 8px 18px;
    border: none;
    background: orange;
    color: black;
    border-radius: 20px;
    font-weight: bold;
    cursor: pointer;
}
.login:hover{
    background: white;
    color: black;
}
.register:hover{
    background: darkorange;
}
.main{
    height: 100vh;
    background:linear-gradient(to right,
    rgba(0,0,0,0.9),
    rgba(0,0,0,0.6),
    rgba(0,0,0,0.2),
    transparent);
    display: flex;
    color: white;
    align-items: center;
    padding-left: 50px;
}
.main-text h1 {
    font-size: 60px;
    max-width: 600px;
}
.main-text p {
    font-size: 30px;
    margin-top: 10px;
}
.main-btn {
    margin-top: 20px;
    padding: 12px 25px;
    background: orange;
    color: black;
    border: none;
    border-radius: 25px;
    font-weight: bold;
    cursor: pointer;
}