.body2 {
    background: black;
    color: white;
    font-family: Arial;
    text-align: center;
    padding-top: 80px;
}
.body2 h1 {
    font-size: 44px;
    padding-top: 40px;
}
.body2 h2{
    font-size: 50px;
    padding-top: 60px;
    padding-bottom: 30px;
}
.toggle {
    display: flex;
    justify-content: center;
    margin-top: 0;
    padding-top: 20px;
}
.toggle-box {
    border: 2px solid orange;
    border-radius: 50px; 
    padding: 5px;
    display: inline-flex; 
    background-color: black;
    align-items: center;
}
.toggle-box button {
    border: none;
    background: transparent;
    color: white;
    padding: 15px 40px; 
    font-size: 18px;
    font-weight: bold;
    cursor: pointer;
    border-radius: 40px; 
    transition: 0.3s;
    line-height: 1.2;
}
button.active {
background: orange;
    color: black;
    font-weight: bold;
    border-radius: 50px;
}
.toggle-box div {
    padding: 10px 25px;
    border-radius: 30px;
    cursor: pointer;
}
.container {
    display: flex;
    justify-content: center;
    gap: 40px;
    margin-top: 50px;
    flex-wrap: wrap;
}
.card {
    border: 2px solid orange;
    border-radius: 20px;
    padding: 30px;
    width: 320px;
    text-align: center;
}
.card h1 {
    font-size: 32px;
}
.price {
    font-size: 24px;
    margin: 10px 0;
}
.btn {
    margin-top: 20px;
    padding: 12px;
    width: 100%;
    border-radius: 30px;
    border: 2px solid orange;
    background: transparent;
    color: orange;
    cursor: pointer;
}
.btn.fill {
    background: orange;
    color: black;
    border: none;
}
.trial{
    border: none;
    background: transparent;
    color: orange;
    margin-top: 20px;
    cursor: pointer;
}
.trial.fill {
    background: orange;
    color: black;
    border: none;
}
.skip {
    margin-top: 10px;
    color: gray;
}
.features {
    text-align: left;
    margin-top: 20px;
} 
.features p {
    margin: 8px 0;
}
.features span {
    color: orange;
    margin-right: 8px;
}
.popular {
    color: orange;
    font-size: 14px;
    margin-bottom: 10px;
}
.noactive{
    background-color: black;
    color:white;
}
.log{
    margin-top: 20px;
    padding: 12px 25px;
    background: orange;
    color: black;
    border: none;
    border-radius: 25px;
    font-weight: bold;
    cursor: pointer;
    font-size: 22px;
}
.log:hover{
    background: darkorange;
}
.scroll-btn{
    margin-top: 60px;
    padding: 12px 25px;
    background: transparent;
    color: orange;
    border: 2px solid orange;
    border-radius: 25px;
    font-weight: bold;
    cursor: pointer;
}
.images{
    display: flex;
    justify-content: center;
    gap: 40px; 
    margin-top: 50px; 
    flex-wrap: wrap;
    padding-bottom: 50px; 
}