body{
    background: black;
    color: white;
    font-family: Arial, sans-serif;
}

.footer {
    display: flex;
    justify-content: space-around;
    padding: 40px;
}

.column {
    width: 15%;
    padding-left: 70px;
}

.column h3 {
    color: white;
    margin-bottom: 15px;
    font-size: 16px;
    text-align: left;
}

.column a {
    display: block;
    color: grey;
    text-decoration: none;
    margin: 8px 0;
    font-size: 14px;
    text-align: left;
}

.column a:hover {
    color: whitesmoke;
    border-bottom: 1px solid whitesmoke;
    width:fit-content;
}
.help{
    color:orange;
    text-decoration: none;
}
.help:hover{
    color:white;
    border-bottom: 1px solid white;
}
.footer-middle{
    display:flex;
    justify-content:space-between;
    padding:10px ;
    border-bottom:1px solid grey;
    border-top: 1px solid grey;
    }
.sony{
    font-size:24px;
    color: grey;
    padding-left: 100px;
    text-align: left;
}

.container2{
    display:flex;
    gap:80px;
    line-height:1.7;
    font-size:14px;
    width: 100%;
    color: gray;
}

.column1{
    width:40%;
}

.extra-text{
    display:none;
    margin-top:30px;
}

.btn2{
    margin-top:30px;
    display:inline-block;
    color:grey;
    font-size:14px;
    font-weight:bold;
    cursor:pointer;
    user-select:none;
    border: none;
    text-align: left;
}

.btn2:hover{
    color:white;
}

